<div class="container">

    <p>Agregar material</p>
    <mat-form-field appearance="fill">
        <mat-label>Nombre del material</mat-label>
        <input matInput [formControl]="nameControl" placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field>
    <mat-label>Color</mat-label>
    <mat-select [formControl]="colorControl" required>
        <mat-option>--</mat-option>
        @for (color of colors; track color) {
        <mat-option [value]="color">{{color}}</mat-option>
        }
    </mat-select>
    </mat-form-field>
    <button  mat-raised-button color="primary" (click)="addMaterial()">Ir a selector</button>

</div>
